.navbar-default {
    background-color: #475057;
    border:0;
    border-radius: 0;
    margin:0;
    padding:5px
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-brand:hover {
    color:#79b519
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #79b519;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #79b519;
}

@media {
    .text-center-xs {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .text-left-sm {
        text-align: left;
    }
}